*{margin: 0; padding: 0; box-sizing: border-box; text-decoration: none !important; font-family: 'Times New Roman', Times, serif;}

#nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    border-bottom: 1px dashed rgb(255, 140, 0);
    font-size: 15px;
}

.logo{
    width: 150px;
    height: 9vh;
 
}

body{
    position: relative;
    background-color: black;
}

#nav ul{
    list-style: none;
    display: flex;
    margin-left: 700px;
}

#nav ul li{
    letter-spacing: 3px;
    margin-left: 32px;
    padding-bottom: 10px;
    padding-top: 10px; 
}

#nav a{
    color: white;
}

#nav ul li a:hover{
    color: rgb(255, 140, 0);
    font-weight: 500;
}

#logout{
    border: 2px solid rgb(255, 140, 0);
    border-radius: 8px;
    background-color: rgb(255, 140, 0);
    padding-left:8px ;
    padding-right:8px ;
    
}

#logout:hover{
    background-color: black;
    color: rgb(255, 140, 0); 
    cursor: pointer;
}

/* Fim da Nav Bar */

.pagina-sistema{
    position: relative;
}

.barraLateral{
    width: 250px;
    height: 90vh;
    position: absolute;
    background-color: black;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: none;
    margin-top: 0px;
}

.barraLateral input{
    width: 248px;
    height: 60px;
    border-top: none ;
    color: whitesmoke;
    background-color: rgb(255, 140, 0);
    cursor: pointer;
    border: none;
    border-radius: 30px;
    margin-top: 45px;
    margin-bottom: -20px;
    font-size: 15px;
}

#conteudo{
    color: white;
    width: 1112px;
    height: 550px;
    position: absolute;
    left: 251px;
}

.sessaoImoveis{
    width: 100%;
    margin-top: 170px;
    display: flex;
    flex-flow: row wrap;  
}

.imoveis-container{
    width: 1260px;
    height: 640px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
   
}

.imovel{
    width: 300px;
    height: 290px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border: 2px solid rgb(255, 140, 0);
}

.pagination a{
    color:white;
    
}

.pagination{
   
   position: absolute;
   bottom: -20px;
   right: 210px;
   
}

.page-item a{
    background-color: rgb(255, 140, 0);
}

.bnt-ver{
    position: absolute;
    left: 25px;
    top: 245px;

}

.bnt-editar button{
    position: absolute;
    left: 135px;
    top: 245px;
    width: 70px;
    margin: auto;
}

.bnt-Excluir{
    position: absolute;
    left: 220px;
    top: 245px;
}

.bnt-Excluir form input{
    width: 70px;   
}
.bnt-ver a, .bnt-editar button, .bnt-Excluir form input{
    /* position: absolute;
    right: 20px; */
    color: whitesmoke;
    background-color: rgb(255, 140, 0);
    border-radius: 8px;
    /* width: 100px; */
    padding: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    
}


.fotos{
    width: 290px;
    height: 290px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    box-shadow: 0 0 30px #000000;
}

.fotos img {
    width: 180px;
    height: 180px;
    margin: 15px;
    box-shadow: 0 0 30px #000000;
}

.fotos h2 {
    font-size: 19px;
    color: whitesmoke; 
    margin-top: 10px;  
}
.fotos h2::first-letter {
    text-transform: uppercase;
}


#modal {
     
    position: absolute;
    top: 5%;
    left: 7%;
   
    padding: 20px;
    border: 1px solid #606062;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 574px;
    background-image: url(../img/preto-fosco.jpg); 
    background-size: cover;
    background-position: center; 
    text-decoration: none;
    color: whitesmoke;
    z-index: 1;
}


  #btnFecharModal input{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 9px;
    top: 9px;
  }

.formulario-cadastro{
    width: 200px;
    height: 75vh;
}

.divForm-infosBasicas{
    position: absolute;
    left: 300px;
    top: 131px;
    color: white;
    margin-top: 10px;
}

.tipoImovel{
    position: absolute;
    left: -120px;
    top: -60px;
}

.aluguel_venda{
    position: absolute;
    left: -280px;
    top: -60px;

}
.infosImovel{
    position: absolute;
    left: 20px;
    top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.divForm-Localizacao{
    position: absolute;
    left: 20px;
    top: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
 
}


.divForm-addImgs{
    position: absolute;
    left: 600px;
    top: 90px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.divForm-addImgs img{
    box-shadow: 0 0 30px #000000;
    width: 350px;
    height: 250px;
}

.divForm-termo{
    position: absolute;
    left: 600px;
    top: 390px;
}

.divForm-btnCadastrar{
    position: absolute;
    left: 315px;
    top: 500px;
    
}


.divForm-btnCadastrar button, .divForm-btnCadastrar a input{
    width: 180px;
    border: 1px dashed black;
    padding: 7px;
    cursor: pointer;
    margin-left: 10px;
}


.formulario-cadastro h2{
    color: white;
    position: absolute;
    left: 20px;
}

.divForm-tipo select{
    width: 150px;
    height: 35px;
    border: 1px dashed black;
    padding: 7px;
    cursor: pointer;
}
